<section class="about-me " id="about">
    <div class="container text-center sec-gap">
        <div class="card border-0 shadow-lg p-3 mb-5 bg-body rounded" >
            <div class="row">
                <div class="col-lg-6  ">
                    <div class="col-md-6 ">                    
                        <img src="assets/images/testimonial-2.jpg " class="card-img-top  col-6  m-5 float-start " alt="name" style="width:50%; ">
                    </div>
                    <div class=" col-sm-12 col-md-6 mt-5 d-flex ">
                        <ul class=" text-xl-start">
                            <li><span>Name:</span> Morgan Freeman</li>
                            <li><span>Profile:</span>full stack developer</li>
                            <li><span>Email:</span> contact@example.com</li>
                            <li><span> Phone:</span>(617) 557-0089</li>
                        </ul>
                    </div>
                    <div class=" col-sm-12 col-md-12  mt-5">
                        <h2 class="skills-header text-xl-start ms-4  " style="font-weight: 400;">Skills</h2>
                        <div class="items">
                            <div class="item">
                                <h2>HTML</h2>
                                <h3>65%</h3>
                                <div class="line1"></div>
                                <div class="line-1"></div>
                            </div>
                            <div class="item">
                                <h2>CSS3</h2>
                                <h3>75%</h3>
                                <div class="line1"></div>
                                <div class="line-2"></div>
                            </div>
                            <div class="item">
                                <h2>PHP</h2>
                                <h3>50%</h3>
                                <div class="line1"></div>
                                <div class="line-3"></div>
                            </div>
                            <div class="item">
                                <h2>JAVASCRIPT</h2>
                                <h3>90%</h3>
                                <div class="line1"></div>
                                <div class="line-4"></div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5">
                    <div class="about-info">
                        <h2 class="about-header text-xl-start pb-4">About Me</h2>
                        <!-- <span class=></span> -->
                        <!-- <div class="small-line  "></div> -->
                        <p class="text-xl-start">Curabitur non nulla sit amet nisl tempus convallis quis ac<br> lectus. Curabitur arcu erat, accumsan id imperdiet et,<br> porttitor at sem. Praesent sapien massa, convallis a <br>pellentesque nec, egestas non nisi. Nulla porttitor <br>accumsan tincidunt.</p>
                        <p class="text-xl-start">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.<br>  Vivamus suscipit tortor eget felis porttitor volutpat.<br>  Vestibulum ac diam sit amet quam vehicula elementum<br>  sed sit amet dui. porttitor at sem.</p>
                        <p class="text-xl-start">Nulla porttitor accumsan tincidunt. Quisque velit nisi,<br> pretium ut lacinia in, elementum id enim. Nulla porttitor<br> accumsan tincidunt.  Mauris blandit aliquet elit, <br> eget tincidunt nibh pulvinar a.</p>
                    </div>
                </div>
                <div class=" card-body text-center m-3">
                    
                </div>
            </div>
        </div>
    </div>
    
</section>