<section class="services  " id="services" >
    <div class="container sec-gap" >
        <div class="main-title ">
            <h2 class="text-center services-header">Services</h2>
            <h6 class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
            <div class="line"></div>
        </div>    

        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0 shadow-lg p-3 mb-5 bg-body rounded mx-2">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle d-flex justify-content-center align-items-center">
                            <i class="fas fa-tv"></i>
                        </div>
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0 shadow-lg p-3 mb-5 bg-body rounded mx-2">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle  d-flex justify-content-center align-items-center">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0 shadow-lg p-3 mb-5 bg-body rounded mx-2">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle  d-flex justify-content-center align-items-center">
                            <i class="fas fa-camera"></i>
                        </div>
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0 shadow-lg p-3 mb-5 bg-body rounded mx-2 ">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle  d-flex justify-content-center align-items-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>                      
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0  shadow-lg p-3 mb-5 bg-body rounded mx-2">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle  d-flex justify-content-center align-items-center">
                            <i class="fas fa-paint-brush"></i>  
                        </div>
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card  border-0 shadow-lg p-3 mb-5 bg-body rounded mx-2 ">
                    <div class=" card-body text-center m-3">
                        <div class="services-icon border rounded-circle  d-flex justify-content-center align-items-center">
                            <i class="fas fa-signal"></i>
                        </div>
                        <div class="services-info">
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>